{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Our Treatments</h1>
    
    <!-- Detailed Services Description -->
    <div class="row g-4">
        {% for treatment in treatments %}
        <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch"> 
            <div class="card h-100">
                {% if treatment.image %}
                <img src="{{ treatment.image.url }}" class="card-img-top" alt="{{ treatment.name }}"> 
                {% endif %}
                <div class="card-body d-flex flex-column"> 
                    <h6 class="card-title">{{ treatment.name }}</h6>
                    <p class="card-text">{{ treatment.description|safe }}</p>
                    
                    {% if treatment.services_offered %}
                    <p class="card-text">{{ treatment.services_offered|safe }}</p>
                    {% endif %}
                    
                    {% if treatment.benefits %}
                    <h6><strong>Benefits:</strong></h6>
                    <p class="card-text">{{ treatment.benefits|safe }}</p>
                    {% endif %}
                </div>
                <div class="card-footer text-center mt-auto">
                    <p><strong>Consultation Price:</strong> ${{ treatment.price }}</p>
                    <a href="{% url 'book_appointment' %}" class="btn btn-primary">{{ treatment.button_text }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- FAQ Section -->
    <div class="mt-5">
        <h2 class="mb-4 text-center">Frequently Asked Questions</h2>
        <div class="accordion" id="faqAccordion">
            {% for faq in faqs %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ faq.id }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ faq.id }}" aria-expanded="true" aria-controls="collapse{{ faq.id }}">
                        {{ faq.question }}
                    </button>
                </h2>
                <div id="collapse{{ faq.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ faq.id }}" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        {{ faq.answer }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}