{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 login-page">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <h3 class="card-title text-center">Sign In</h3>
          <p class="text-center">
            Welcome back to SportsTherapy. To make a booking, please log in. If you have not created an account yet, 
            then <a class="link" href="{% url 'account_signup' %}">sign up</a> first.
          </p>
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}
            <button type="submit" class="btn btn-primary w-100 mt-3">Sign In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}