{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>My Appointments</h1>
    <a href="{% url 'book_appointment' %}" class="btn btn-primary">Book a New Appointment</a>
    <ul class="list-group mt-4">
        {% for appointment in appointments %}
        <li class="list-group-item">
            <a href="{% url 'appointment_detail' appointment.id %}">Appointment with {{ appointment.client.username }} on {{ appointment.date|date:"F j, Y, g:i a" }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
