{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Welcome to My Physio Practice</h1>
    <p>We are dedicated to providing the best physiotherapy services to help you recover and stay healthy. Book your appointment today!</p>
    <p>Our services include:</p>
    <ul>
        <li>Sports Injury Rehabilitation</li>
        <li>Post-Surgical Rehabilitation</li>
        <li>Pain Management</li>
        <li>Pediatric Physiotherapy</li>
        <li>Geriatric Physiotherapy</li>
    </ul>
</div>
{% endblock content %}
