{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container mt-5 pb-5">
  
  <!-- Professional Journey and Mission -->
  <div class="row mb-4 about-content">
    <div class="col-md-4 text-center mb-3 mb-md-0">
      <img src="{% static 'images/about.jpg' %}" class="img-fluid rounded-circle bordered-image" alt="Physiotherapist Image">
    </div>
    <div class="col-md-8">
      <h2>{{ about.title }}</h2>
      {{ about.content | safe }}
      <h2 class="mt-4">About Me</h2>
      <p>I am Ryan Nolan, a certified sports therapist with over 10 years of experience in helping athletes and 
        active individuals recover from injuries and enhance their performance. My approach is personalized and evidence-based, 
        ensuring you receive the best care possible</p>
    </div>
  </div>

  <!-- Credentials and Philosophy -->
  <div class="row mb-4 about-content">
    <div class="col-md-6 mb-3 mb-md-0">
      <h2>Credentials</h2>
      <ul>
        <li>Certified Sports Therapist</li>
        <li>Award for Excellence in Sports Therapy, 2021</li>
        <li>Member of the National Sports Therapy Association</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>My Philosophy</h2>
      <p>I believe in a holistic approach to health and well-being, focusing on individualized treatment plans for each patient. My goal is to help you achieve optimal health through a combination of hands-on therapy, exercise, and education.</p>
    </div>
  </div>
 
  <!-- displaying Django messages -->
  <div class="row mb-4 about-content">
    <div class="col-md-8">
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
        {{ message | safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Contact Form -->
  <div class="row mb-4 contact-form-container about-content">
    <div class="col-md-8">
      <h3>Contact Us</h3>
      <p>To book an appointment drop us a message using the contact form below or use our online appointment booking system. We guarantee to respond to your message within an hour between 8 am and 6 pm. If you’re unable to attend your physiotherapy appointment, please let us know at least 24 hours before.</p>
      <form method="post" action="{% url 'about' %}">
        {{ contact_form|crispy }}
        {% csrf_token %}
        <button class="btn btn-secondary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const form = document.querySelector("form");
  const formContainer = document.querySelector(".contact-form-container");
  
  form.addEventListener("submit", function(event) {
    event.preventDefault();
    const formData = new FormData(form);
    fetch(form.action, {
      method: "POST",
      body: formData,
      headers: {
        "X-Requested-With": "XMLHttpRequest"
      }
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        formContainer.innerHTML = '<div class="alert alert-success" role="alert">Your message has been sent successfully!</div>';
      }
    })
    .catch(error => console.error('Error:', error));
  });
});
</script>

{% endblock content %}